.container {
  display: flex;
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 99px;
  padding: 4px;
  gap: 4px;
}

.button {
  background: transparent;
  border: none;
  color: var(--secondary);
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.button:hover {
    color: var(--foreground);
    background: rgba(128,128,128,0.1);
}

.active {
    background: var(--primary);
    color: white;
}

.active:hover {
    background: var(--primary);
}
