.card {
  background-color: var(--card);
  padding: 16px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-decoration: none;
  min-height: 260px;
}

.card:hover {
  background-color: var(--hover);
}

.image {
    width: 100%;
    aspect-ratio: 1;
    background-color: #333;
    border-radius: 4px;
    margin-bottom: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 1rem;
  color: var(--foreground);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  font-size: 0.85rem;
  color: var(--secondary);
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.playButton {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(8px);
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    color: black;
}

.card:hover .playButton {
    opacity: 1;
    transform: translateY(0);
}
