.topbar {
  height: 64px;
  background-color: var(--black); /* Or transparent/gradient */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 20;
}

.navigationButtons {
  display: flex;
  gap: 16px;
}

.navButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.authButtons {
  display: flex;
  gap: 32px;
  align-items: center;
}

.signup {
  color: var(--secondary);
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
}

.signup:hover {
  color: var(--foreground);
}

.login {
  background-color: var(--foreground);
  color: var(--black);
  padding: 12px 32px;
  border-radius: 32px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.login:hover {
  transform: scale(1.02);
}
